/* {"Seasalt":"F8F8F8",
    "Platinum":"D7D8D8",
    "French gray":"CDD3D8",
    "Cadet gray":"98A7AE",
    "Payne's gray":"5F6B7D",
    "Dim gray":"7C7075",
    "Wenge":"7E6765",
    "Van Dyke":"483E40",
    "Gunmetal":"323744",
    "Jet":"2E2F37"} */
/* .hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
    transform: translateX(-100%);
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
} */

/* 
.nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 2;
} */

/* .logo {
    width: 40px;
} */

/* .nav-items {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    color: white;
} */

/* .button {
    display: inline-block;
    color: white;
    font-size: 20px;
    border: 2px solid white;
    padding: 8px 30px;
    border-radius: 50px;
    transition: 0.6s;
    background-color: transparent;
} */
/* 
.button:hover {
    background-color: white;
    color: transparent;
    cursor: pointer;
} */

/* FIND YOGA POSE OPTIONS - APP.JS
 */
/* .poseOptionsDiv {
    background-image: url("../images/white-background-yoga-pose.jpg");
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    padding: 20px;
} */

/* "what would you like to discover"  */
/* .beachYogaVideo {
    width: 100%;
    z-index: -2;
} */

/* .posesByTitle {
    font-size: 160px;
    color: #483e40;
    font-weight: 600;
    transition: 0.5s;
    max-width: 40ch;
    text-align: center;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.posesByTitle:hover {
    -webkit-text-stroke: 2px #483e40;
    color: transparent;
}

.poseOptionsParent {
    width: 100%;
    border: #483e40 1px dotted;
    display: flex;
    flex-direction: row;
}

.posesBy {
    padding-top: 20px;
    font-size: 1.4rem;
    color: var(--inv);
    letter-spacing: 1.1rem;
    text-transform: uppercase;
} */

/* poses-by-title animation */
/* span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
    animation: fade-in 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(1) {
    animation-delay: 0.3s;
}

span:nth-child(2) {
    animation-delay: 0.6s;
}

klo span:nth-child(3) {
    animation-delay: 0.9s;
}

span:nth-child(4) {
    animation-delay: 1.2s;
}

span:nth-child(5) {
    animation-delay: 1.5s;
}

span:nth-child(6) {
    animation-delay: 1.8s;
}

span:nth-child(7) {
    animation-delay: 2.1s;
}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
} */